/* html scroll effect  */
html {
  scroll-behavior: smooth;
}

/* Destop and mobile navbar starts  */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    width: 100%;
    padding: 0 2rem;
    margin: auto;
    height: 6rem;

    h1 {
      font-size: 25px;
      margin: 30px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 0;

      li {
        list-style: none;

        a {
          text-decoration: none;
          font-size: 1.15rem;
          letter-spacing: .02rem;
          font-weight: 400;
        }
      }
    }

    .fa-solid,
    .fa-solid {
      display: none;
      font-size: 1.5rem;
      cursor: pointer;
      padding: .5rem;
    }
  }

  @media (max-width:769px) {

    .main {
      height: 7rem;
      position: fixed;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      background-color: gray;
      align-items: unset;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 99;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        gap: 2rem;
        padding-left: 2.2rem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--black);
            font-size: 1.6rem;
            letter-spacing: .02rem;
            font-weight: 500;
          }
        }
      }

      h1 {
        display: none;
      }

      .fa-solid,
      .fa-solid {
        display: block;
        position: absolute;
        top: 3rem;
        right: 3rem;
        display: block;
      }
    }
  }
}

.navResponseive {
  visibility: hidden;
  width: 0;
  height: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  .fa-solid,
  .fa-solid {
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
  }
}

@media (max-width:769px) {
  .navResponseive {
    visibility: visible;
    width: unset;
    height: unset;
  }

}

#header.alt h1 {
  display: contents;
}

/* Destop and mobile navbar Ends  */

/* Home page settings  starts */

.inner h1 {
  font-size: 30px;
}

#banner p {
  font-size: 25px;
  text-align: left;
  margin: auto 15%;
}

@media screen and (min-width: 1800px) {
  #banner p {
    font-size: 25px;
    text-align: left;
    margin: auto 25%;
  }
}

@media screen and (min-width: 2300px) {
  #banner p {
    font-size: 25px;
    text-align: left;
    margin: auto 40%;
  }
}

.typeworks span {
  color: #e0ed53;
}

/* Home page settings ends */


/* contact us starts */
.contact-form-contanier {
  height: auto;
  width: 100%;
  background: #501d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 85%;
  background: #501d1d;
  padding: 20px 60px 30px 40px;
}

.contact-form .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-form .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #ffffff;
}

.contact-form .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  /* background: #000000; */
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .btn {
  display: inline-block;
  margin-top: 12px;
}

.right-side .btn input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .contact-form {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .contact-form .content .right-side {
    width: 75%;
    margin-left: 55px;
  }

  /* .features li {
    flex-direction: column-reverse !important;
  } */

  .card-img img {
    margin: 10px 0px !important;
  }
}

@media (max-width: 820px) {
  .contact-form {
    margin: 40px 0;
    height: 100%;
  }

  .contact-form .content {
    flex-direction: column-reverse;
  }

  .contact-form .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-form .content .left-side::before {
    display: none;
  }

  .contact-form .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* contact us ends  */


/* contact us ends  */

.card-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0d222d;
}

.card-img img {
  width: 100%;
  margin: 10px 15px;
}

@media screen and (max-width: 450px) {
  .features li {
    padding: 12px 0em 0em 0em !important;
  }
}



.features li {
  padding: 4em 4em 2em 6em;
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card-content {
  margin-left: 35px;
}

@media screen and (max-width: 1200px) {
  .reverse-class {
    flex-direction: column-reverse !important;
  }

  .card-content {
    margin-left: 0px;
  }
}


#one {
  display: flex;
  align-items: center;
  justify-content: center;
}

#three {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Four {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Four .major {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#Five {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
}

.btn-outline-signin {
  border: 1px solid #e1e8ee;
}

.btn-start {
  background: #0d2431;
  color: #fff;
  padding: 0.8rem;
  width: 100%;
  margin: 0 auto;
}

.btn-start:hover,
.btn-start:focus {
  color: #fff;
  background: #501d1d;
}

.btn-outline-start {
  background: #fff;
  border: 1px solid #0d2431;
  color: #0d2431;
  padding: 0.8rem;
  width: 100%;
  margin: 0 auto;
}

.btn-outline-start:hover,
.btn-outline-start:focus {
  color: #fff;
  background: #501d1d;
}

.pricing-box {
  padding: 1rem;
  background: #fff;
  border: 1px solid #e1e8ee;
  transition: transform 0.2s;
  cursor: pointer;
  font-family: inherit;
}

.pricing-box ul li {
  list-style: circle !important;
}

.pricing-box:hover {
  transform: scale(1.05);
}

.pricing-box .card-title {
  font-size: 1.5rem;
  line-height: 2;
  text-align: left !important;
}

.pricing-box .card-text p {
  text-align: left !important;
  font-size: 14px;
  font-weight: 600;
}

.pricing-box .list-group {
  margin-bottom: 1rem;
}

.pricing-box .list-group-item {
  padding: 0.45rem 1rem;
  border: none;
  list-style: disc;
  text-align: left !important;
}

.pricing-premium {
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .09);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .09);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .09);
  transition: transform 0.2s;
}

.pricing-premium:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .pricing-box {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .pricing-premium {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.services-cards li img {
  margin-bottom: 2rem;
  width: 80%;
}

.services-cards li {
  flex-direction: column;
  width: 30%;
  text-align: center;
}


/* pop-up cards */

.popup {
  margin-top: 2rem;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 999;
}

.popup img {
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #e0ed53;
}

#popup-title {
  color: #ffffff;
}

.popup-content {
  background-color: #501d1d;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  box-shadow: 1px 1px 15px 2px #000;
}

.close {
  position: absolute;
  top: 2.5em;
  right: 0.5em;
  font-size: 50px;
  cursor: pointer;
  color: #ffffff;
}





/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/

.slider-crads img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.slider-crads {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card__container {
  padding-block: 5rem;
} */

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px;
  /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
    height: 34rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }
}

@media screen and (max-width: 1100px) {
  .card__container {
    height: 30rem;
  }
}

@media screen and (max-width: 450px) {
  .card__container {
    height: 28rem;
  }
}














.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .plan {
    background-color: #000000;
    padding: 1.5rem;
    margin: 12px 25px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    width: 28%;
    height: fit-content;

    h2 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    .price {
      margin-bottom: 1rem;
      font-size: 18px;
    }

    ul.feat {
      list-style-type: none;
      text-align: left;

      li {
        margin: 8px;

        .fas {
          margin-right: 4px;
        }

        .fa-check-circle {
          color: #501d1d;
        }

        .fa-times-circle {
          color: #eb4d4b;
        }
      }
    }

    &.popular {
      border: 2px solid #501d1d;
      position: relative;
      transform: scale(1.08);
      height: fit-content;

      span {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #501d1d;
        color: #fff;
        padding: 4px 20px;
        font-size: 18px;
        border-radius: 5px;
      }
    }

    &:hover {
      box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    }
  }
}

@media screen and (max-width: 1100px) {
  .plan {
    width: 43% !important;
    margin-top: 5rem !important;
  }
}

@media screen and (max-width: 750px) {
  .plan {
    width: 75% !important;
    margin-top: 5rem !important;
  }
}

@media screen and (max-width: 350px) {
  .plan {
    width: 100% !important;
    margin-top: 5rem !important;
  }
}